@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
* {
    box-sizing: border-box;
  }
  
  body {
    background: #ecf9ff;
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
  }

  h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
