/*Border box: This makes sure that the padding and border are included in the total width and height of the elements.*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
* {
    box-sizing: border-box;
  }
  
  body {
    background: #ecf9ff;
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
  }

  h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
  /*Column for the label. To make responsive functionality*/
  
  /*.col-25 {
      color: #ffffff;
      float: left;
      width: 25%;
      margin-top: 6px;
      text-align: center;
    }*/
    
  /*Column for the input.To make responsive functionality*/
   /* .col-75 {
      float: left;
      width: 75%;
      margin-top: 6px;
      text-align: center;
    }*/
  
   input[type=submit] {
    display: block;
    margin: auto;
    background-color: #ecf9ff;
    color: black;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    float: right;
    cursor: pointer;
    overflow:auto;
  }

  /*.login{
    position: relative;
    top: 8px;
  }*/
  
  /*Hover for the submit button*/
  input[type=submit]:hover {
    background-color: grey;
  }
  .container {
      border-radius: 5px;
      background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
      padding: 50px;
    }
  
    /*Clear floats after the columns*/
    /*
    .row:after {
      content: "";
      display: table;
      clear: both;
    }*/
    
    
    /* Responsive layout: when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    
    @media screen and (max-width: 480px) {
      /*.col-25, .col-75, */input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
    }